

<div class="row">
  <div class="span6">
  	<h2>Navigation Bar</h2>
  </div>
  <div class="span6">
		<h1>Welcome to AppCenter</h1>
		<p>A Rails App to create marketplaces</p>
		<%= link_to "Chad Sakonchick", "http://chadsakonchick.com"%>
	</div>
</div>