<h1>Listing <% current_user.name %>'s items</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @items.current_user %>
  </tbody>
</table>

<br />

<%= link_to 'New Item', new_item_path %>