<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
  			<%= @item.description %>
			</p>

			<%= link_to 'Edit', edit_item_path(@item) %> |
			<%= link_to 'Back', items_path %>

		</div>
	</div>
</div>
